{% extends "index.html" %}

{% block content %}
<h1>Signup</h1>
<form method="post">
    <label>Username</label><input name="username" style="width: 80px;" value="{{ vars.name }}">{{ vars.nameError }}
    <br>
    <label>Password</label><input name="password" type="password" style="width: 80px;" value="{{ vars.password1 }}"> {{ vars.passwordError }}
    <br>
    <label>Verify Password</label><input name="verify" type="password" style="width: 80px;" value="{{ vars.password2 }}">
    <br>
    <label>Email (optional)</label><input name="email" type="email" style="width: 80px;" value="{{ vars.email }}"> {{ vars.emailError }}
    <br>
    <input type="submit">
</form>    
{% endblock %}