<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a href="/{{p.key().id()}}">
        {{p.subject}}
      </a>
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <br>
  <div class="like">
    <form action="/like" method="post">
      <input type="hidden" value="{{p.key().id()}}" name="post">
      {{p.likes}} likes
      <input type="submit" value="Like this post?">
    </form>
  </div>
</div>
